html {
  height: 100%;
}
body {
  font: 400 13px/24px Roboto,sans-serif;
  margin: 10px;
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  user-select: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul:not(:empty) {
  margin-bottom: 10px;
}
ul ~ label {
  display: flex;
  justify-content: center;
  cursor: pointer;
  flex: 1;
  border: dashed 1px #e4e4e4;
  background: url(drop.svg) no-repeat center center;
  background-size: 96px;
}

ul ~ label::before {
  content: attr(data-content);
  margin-top: calc(50vh + 30px);
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 10px;
}
li [data-id="name"] {
  flex: 1;
}
li [data-id="status"],
li [data-id="type"],
li [data-id="size"] {
  border-left: solid 1px #e4e4e4;
}
li [data-id="type"] {
  width: 140px;
}
li [data-id="status"] {
  width: 140px;
}
li [data-id="size"] {
  width: 80px;
}
li [data-id="close"] {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  width: 32px;
  text-align: center;
  text-indent: 0;
  font-size: 90%;
  height: 20px;
  line-height: 20px;
}
li [data-id="close"]:hover {
  background-color: #e4e4e4;
  color: #fff;
}
.drag-handle {
  display: inline-block;
  width: 22px;
  background-size: 16px;
  cursor: move;
}

#list {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#list input[type=file] {
  display: none;
}

body[data-disabled=true] .drag-handle,
body[data-disabled=true] [data-cmd="remove"],
body[data-disabled=true] label,
body[data-disabled=true] [type=submit] {
  opacity: 0.5;
  pointer-events: none;
}

#toolbar {
  margin-top: 10px;
}
#toolbar input {
  background-color: #dadada;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  min-width: 80px;
  font-size: 100%;
}
body[data-convert=false] [type=submit],
#toolbar input:disabled {
  color: #a0a0a0;
  text-shadow: 1px 1px #f2f2f2;
  pointer-events: none;
}
